p {
    font-family:'Courier New', Courier, monospace;
    color: beige;
}

h1 {
    font-size:xx-large;
    color: beige;
}

body {
    background-color: black;
}

head {
    background-color: black;
}